form.normal-form{
    margin: 10px;
}

.controles-container{
    width: 100%;
    padding: 0%;
}

label{
    font-weight: bold;
}

.secondTitle{
    font-size: 20px;
}

.mat-form-field {
    line-height: 1.250;
    width: 300px;
}