<br />

<nav>
    <label>
        <label class="titlePrincipal">
            Dashboard
        </label>
    </label>

    <!-- <ul style="list-style-type:none;">
    <li routerLink="/man-data">
      <img src="../assets/images/ManualDataUpload.png" width="230" height="40">
    </li>
    <li routerLink="/file-upload">
      <img src="../assets/images/newFile.png" width="135" height="42">
    </li>
  </ul> -->
    <div class="checkBoxes">
        <mat-radio-group>
            <mat-radio-button value="1">All</mat-radio-button>
            <mat-radio-button value="2">Compare</mat-radio-button>
            <mat-radio-button value="3">SCIB</mat-radio-button>
        </mat-radio-group>
    </div>

</nav>

<br />
<mat-grid-list cols="6" rowHeight="150" [gutterSize]="'5px'">
<!-- <mat-grid-list cols="6" rowHeight="150"> -->
    <mat-grid-tile>
        <mat-card>
            <label class="dashOneOneLine">
                Leveraged finance
            </label>
            <div>
                <label class="dashOneTwoLineOne">
                    (by ECB)
                </label>
                <label class="dashOneTwoLineTwo">
                    exposure
                </label>
            </div>
            <div>
                <label class="dashOneThreeLineOne">€</label>
                <label class="dashOneThreeLineTwo">13,6</label>
                <label class="dashOneThreLineThree">
                    Bn
                </label>
            </div>
            <mat-divider></mat-divider>
            <div>
                <label class="dashOneFourLineOne">Compare</label>
                <div class="floatRight">
                    <label>
                        <label class="dashOneFourLineTwo">Q1</label>
                        <label>
                            <label class="dashOneFourLineThree">
                                <img src="../assets/images/triangle-copy-8_2020-07-29/triangle-copy-8.png" width="12"
                                    height="12">
                            </label>
                            <label>
                                <label class="dashOneFourLineFour">2,3</label>
                                <label class="dashOneFourLineFive">Bn</label>
                            </label>
                        </label>
                    </label>
                </div>
            </div>
        </mat-card>
    </mat-grid-tile>
    <!-- --------------------------------------------------------------------------- -->
    <mat-grid-tile>
        <mat-card>
            <label class="dashTwoOneLine">
                Leveraged Buy Outs
            </label>
            <div>
                <label class="dashTwoTwoLineOne">
                    "LBO"
                </label>
            </div>
            <div>
                <label class="dashTwoThreeLineOne">€</label>
                <label class="dashTwoThreeLineTwo">3,8</label>
                <label class="dashTwoThreLineThree">
                    Bn
                </label>
            </div>
            <mat-divider></mat-divider>
            <div>
                <label class="dashTwoFourLineOne">Compare</label>
                <div class="floatRight">
                    <label>
                        <label class="dashTwoFourLineTwo">Q1</label>
                        <label>
                            <label class="dashTwoFourLineThree">
                                <img src="../assets/images/triangle-copy-8_2020-07-29/triangle-copy-8.png" width="12"
                                    height="12">
                            </label>
                            <label>
                                <label class="dashTwoFourLineFour">2,3</label>
                                <label class="dashTwoFourLineFive">Bn</label>
                            </label>
                        </label>
                    </label>
                </div>
            </div>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <label class="dashThreeOneLine">
                SCIB & SCCB
            </label>
            <div>
                <label class="dashThreeTwoLineOne">
                    Leveraged Finance
                </label>
            </div>
            <div>
                <label class="dashThreeThreeLineOne">€</label>
                <label class="dashThreeThreeLineTwo">5,0</label>
                <label class="dashThreeThreLineThree">
                    Bn
                </label>
            </div>
            <mat-divider></mat-divider>
            <div>
                <label class="dashThreeFourLineOne">Compare</label>
                <div class="floatRight">
                    <label>
                        <label class="dashThreeFourLineTwo">Q1</label>
                        <label>
                            <label class="dashThreeFourLineThree">
                                <img src="../assets/images/triangle-copy-9_2020-07-29/triangle-copy-9.png" width="12"
                                    height="12">
                            </label>
                            <label>
                                <label class="dashThreeFourLineFour">2,3</label>
                                <label class="dashThreeFourLineFive">Bn</label>
                            </label>
                        </label>
                    </label>
                </div>
            </div>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <label class="dashFourOneLine">
                CLO's
            </label>
            <br />
            <br />
            <div>
                <label class="dashFourThreeLineOne">€</label>
                <label class="dashFourThreeLineTwo">5,2</label>
                <label class="dashFourThreLineThree">
                    Bn
                </label>
            </div>
            <mat-divider></mat-divider>
            <div>
                <label class="dashFourFourLineOne">Compare</label>
                <div class="floatRight">
                    <label>
                        <label class="dashFourFourLineTwo">Q1</label>
                        <label>
                            <label class="dashFourFourLineThree">
                                <img src="../assets/images/triangle-copy-8_2020-07-29/triangle-copy-8.png" width="12"
                                    height="12">
                            </label>
                            <label>
                                <label class="dashFourFourLineFour">2,3</label>
                                <label class="dashFourFourLineFive">Bn</label>
                            </label>
                        </label>
                    </label>
                </div>
            </div>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <label class="dashFiveOneLine">
                High Yield & Loan
            </label>
            <div>
                <label class="dashFiveTwoLineOne">
                    trading Portfolio
                </label>
            </div>
            <div>
                <label class="dashFiveThreeLineOne">€</label>
                <label class="dashFiveThreeLineTwo">3,8</label>
                <label class="dashFiveThreLineThree">
                    Bn
                </label>
            </div>
            <mat-divider></mat-divider>
            <div>
                <label class="dashFiveFourLineOne">Compare</label>
                <div class="floatRight">
                    <label>
                        <label class="dashFiveFourLineTwo">Q1</label>
                        <label>
                            <label class="dashFiveFourLineThree">
                                <img src="../assets/images/triangle-copy-8_2020-07-29/triangle-copy-8.png" width="12"
                                    height="12">
                            </label>
                            <label>
                                <label class="dashFiveFourLineFour">2,3</label>
                                <label class="dashFiveFourLineFive">Bn</label>
                            </label>
                        </label>
                    </label>
                </div>
            </div>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <label class="dashSixOneLine">
                UnderWriting
            </label>
            <br />
            <br />
            <div>
                <label class="dashSixThreeLineOne">€</label>
                <label class="dashSixThreeLineTwo">5,2</label>
                <label class="dashSixThreLineThree">
                    Bn
                </label>
            </div>
            <mat-divider></mat-divider>
            <div>
                <label class="dashSixFourLineOne">Compare</label>
                <div class="floatRight">
                    <label>
                        <label class="dashSixFourLineTwo">Q1</label>
                        <label>
                            <label class="dashSixFourLineThree">
                                <img src="../assets/images/triangle-copy-8_2020-07-29/triangle-copy-8.png" width="12"
                                    height="12">
                            </label>
                            <label>
                                <label class="dashSixFourLineFour">2,3</label>
                                <label class="dashSixFourLineFive">Bn</label>
                            </label>
                        </label>
                    </label>
                </div>
            </div>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
<br />
<mat-grid-list cols="2" rowHeight="400">
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list>