<br />
<nav>
    <label>
        <img src="../assets/images/backArrow.png" width="30" height="30">
    </label>
    <label>
        <img src="../assets/images/manualDataUploadTitle.png" width="210" height="31">
    </label>
</nav>
<br />
<mat-card>
    <mat-tab-group>
        <mat-tab>
            <ng-template mat-tab-label>
                <img src="../assets/images/func-027-edit_2020-07-28/func-027-edit.png" width="24" height="24">
                Manual Data Upload
            </ng-template>
            <app-element-form-man-data-up></app-element-form-man-data-up>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <img src="../assets/images/ban-028-stock-exchange_2020-07-28/ban-028-stock-exchange.png" width="24"
                    height="24">
                Global Vs Exposure
            </ng-template>
            <app-element-form-man-data-gex></app-element-form-man-data-gex>
        </mat-tab>
    </mat-tab-group>
</mat-card>