<nav>
  <label class="logo">
    <img src="../assets/images/logoSantander.png">
    <img src="../assets/images/pipeLarge.png">
    <img src="../assets/images/leveragedFinanceLogo.png">
  </label>
  <ul>
    <li>
      Geografia
      <img src="../assets/images/toggleIconDropDownMenuBar.png">
    </li>
    <li>
      <img src="../assets/images/pipeMedium.png">
    </li>
    <li>
      <input [matDatepicker]="basicDatepicker" placeholder="Date">
      <mat-datepicker-toggle [for]="basicDatepicker">
          <img matDatepickerToggleIcon src="../assets/images/toggleIconDropDownMenuBar.png">
      </mat-datepicker-toggle>
      <mat-datepicker #basicDatepicker></mat-datepicker>
    </li>
    <li>
      <img src="../assets/images/pipeMedium.png">
    </li>
    <li>
      <img src="../assets/images/globeLogo.png">
    </li>
    <li><a href="#">ESP</a></li>
    <li>
      <!-- <a href="#">Feedback</a> -->
      <img src="../assets/images/userLogo.png">
    </li> 
  </ul>
</nav>

    <div class="container principal">
      <div class="row">
        <div class="col-lg-1">
          <div id="sidebar">
            <ul style="list-style-type:none;">
              <li routerLink="/element-list">
                <img src="../assets/images/menuBarHomeImage.png" width="55" height="65">
              </li>
              <!-- <li routerLink="/element-table"> -->
              <li>
                <img src="../assets/images/menuBarCompareImage.png" width="55" height="65">
              </li>
              <li routerLink="/bar-chart">
                <img src="../assets/images/menuBarTopImage.png" width="55" height="65">
              </li>
              <li routerLink="/pie-chart">
                <img src="../assets/images/menuBarReportsImage.png" width="55" height="65">
              </li>
              <!-- <li routerLink="/file-upload"> -->
              <li routerLink="/element-table">
                <img src="../assets/images/menuBarUploadsImage.png" width="55" height="65">
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-11">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>



<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////// -->

<!-- <div class="wrapper">

  <div class="content">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Leverage Finance</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
          aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-8">
                <input type="text" class="form-control" placeholder="Search Elements">
              </div>
              <div class="col-md-2">
                <button type="submit" class="btn btn-primary">Search</button>
              </div>
            </div>
          </div>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <br />
    <div class="container">

      <div class="row">
        <div class="col-lg-1">

        </div>

        <div class="col-lg-9">

            <router-outlet></router-outlet>

        </div>

      </div>

    </div>
  </div>
  <footer class="py-5 footer">
    <div class="container">
      <p class="m-0 text-center text-dark">Copyright &copy; Your Website 2019</p>
    </div>
  </footer>


</div> -->