<div class="container">
    <div class="row">
      <div class="col-sm-8">
          
      </div>
      <div (click)="closeDialog()" class="col-sm-1">
        <img src="../assets/images/cloceXButton.png" width="26" height="34">
      </div>
    </div>
  </div>
  <br/>
<div>
    <ul style="list-style-type:none;">
        <li>
            <div (click)="gotoLog()">
                <img src="../assets/images/logIcon.png" width="26" height="34">
                Log
            </div>

        </li>
        <li>
            <img src="../assets/images/deleteIcon.png" width="26" height="34">
            Delete
        </li>
        <li>
            <img src="../assets/images/downloadIcon.png" width="26" height="34">
            Download
        </li>
        <li>
            <img src="../assets/images/lockIcon.png" width="26" height="34">
            Lock
        </li>
    </ul>

</div>