* {
    margin: 0px;
    padding: 0px;

    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }

nav{
  background: #F3F7F9;
  /* height: 80px; */
  width: 100%;
  /* box-shadow: 2px 2px 5px #b1b0b0; */
}

nav ul{
  float: right;
  margin-right: 20px;
}

nav ul li {
    display:inline-block;
    /* line-height: 80px; */
    margin: 0 5px;
}

/* Ancho columnas tabla */
.mat-column-actions {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 5% !important;
  width: 5% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}